name: LAPRAS Card

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-card:
    name: LAPRAS Card
    runs-on: ubuntu-latest
    steps:
      - uses: kawamataryo/lapras-card-readme@main
        with:
          SHARE_ID: "y-omr"
          ICON_FIRST: "#132c67"
          ICON_SECOND: "#1688bf"
          BACKGROUND_FIRST: "#7f8490"
          BACKGROUND_SECOND: "#073964"
          LANG: "en"






